<div class="form-wrapper container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-lg-6">
      <h1>¿Olvidaste tu contraseña?</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }, html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", autofocus: true %>
        </div>

        <div class="form-group mt-3 d-grid">
          <%= f.submit "Envíame las instrucciones para restablecer mi contraseña", class: "btn btn-block btn-success" %>
        </div>
      <% end %>

      <div class="form-group text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>